<!--col-tamaño-valor//-->
<!--
<div class="container">

<div class="row">




  <div style ="background-color:blue;"class="col-sm-6">hola</div>

  <div style ="background-color:blue;"class="col-sm-6">colum</div>


    <div style ="background-color:red;"class="col-md-5">ROJO</div>
    <div style ="background-color:red;"class="col-md-7">ROJO</div>

    <div style ="background-color:green;"class="col-lg-2">VERDE</div>
    <div style ="background-color:green;"class="col-lg-10">VERDE</div>

    <div style ="background-color:yellow;"class="col-xl-8">AMARILLO</div>
    <div style ="background-color:yellow;"class="col-xl-4">AMARILLO</div>
  </div>
</div>
-->



  <!--
  /*//p.rojo
  <p class="rojo"></p>
  //p#verde
  <p id="verde"></p>
  //div.verde
  //.verde
  <div class="verde"></div>

  //img.imagen-responsive*3
  <img src="" alt="" class="imagen-responsive"><img src="" alt="" class="imagen-responsive">

  //h1>a
  <h1><a href=""></a></h1>

  //lista ordenada ol>li4*4
  <ol>
    <li4></li4>
    <li4></li4>
    <li4></li4>
    <li4></li4>
  </ol>
  *///-->


<!--
<br>
<br>
<br>

<div class="row">
  <div style="background-color: orange">
  <div style="column-count: 12">

    <div class="row">
      <div class="col">UBUNTU</div>
      <div class="col">Cloud</div>
      <div class="col">Server</div>
      <div class="col">Container</div>
      <div class="col">Desktop</div>
      <div class="col">Core</div>
      <div class="col">IoT</div>
      <div class="col">Suport</div>
      <div class="col">Download</div>
    </div>
  </div>
</div>
</div>

<br>
<br>
<br>


  <div class="row">
    <div style="column-count: 2">
      <div class="col">
    <h1>Using Ubuntu in the public cloud
    </h1>
    <p> Ubuntu Server is the world’s most popular cloud operating system. Thanks to its security, versatility and policy of regular updates,
      Ubuntu is the leading cloud guest OS, running most workloads in public clouds today. With certified images available on clouds from partners like AWS,
      Microsoft Azure, Google Cloud Platform, Rackspace,Oracle and IBM Softlayer, Ubuntu is the only free cloud operating system with the option of
      enterprise-grade commercial support.</p>
    </div>

    <div class="col">
      <img src="https://assets.ubuntu.com/v1/d0d11304-image-publiccloud.svg" />
    </div>
  </div>
  </div>

<br>
<br>
<br>


  <div style="background-color: #3f2c5b">
    <div class="row">
    <div style="column-count: 2">
      <h1 style="color: white">Why use Ubuntu Server in the cloud?
      </h1>
    </div>
    </div>
  </div>
  <div style="background-color: #3f2c5b">
    <div class="row">
      <div style="column-count: 2">
        <div class="col">
        <p style="color: white">Free from licence fees, regardless of how many images you run
        </p>
        <p style="color: white">Enterprise-grade support and management tools available direct from Canonical
        </p>
        <p style="color: white">Maintenance and security updates guaranteed for five years with Ubuntu LTS
        </p>
        <p style="color: white">Proven for enterprise-scale workloads on all leading public clouds
        </p>
        </div>

        <br>
        <br>
        <br>


        <div class="col">
          <div style="color: white">
          <img src="https://assets.ubuntu.com/v1/4b47cae5-image-server.svg" />
          </div>
        </div>

      </div>
    </div>
  </div>

<br>
<br>
<br>

  <div class="row">
    <div style="column-count: 2">
      <div class="col">
      <h1>Fast service deployment with Juju
      </h1>
    </div>
      <div class="col">
        <h1>The best management and support
        </h1>
      </div>
    </div>
  </div>

<br>
<br>
<br>

<div class="row">
  <div style="column-count: 2">
    <div class="col">
      <p> Juju is the fastest way to deploy and scale out your workloads on the leading public clouds. With Juju charm bundles,
        you can launch an entire cloud environment with one click, or just one command using the CLI. Use Juju to deploy your entire
        application infrastructure, all in one.</p>
      <img src="https://assets.ubuntu.com/v1/86c8c01f-charms_juju.svg" />
    </div>
    <div class="col">
      <p> Juju is the fastest way to deploy and scale out your workloads on the leading public clouds. With Juju charm bundles,
        you can launch an entire cloud environment with one click, or just one command using the CLI. Use Juju to deploy your entire
        application infrastructure, all in one.</p>
      <img src="" />
    </div>
  </div>
</div>

<br>
<br>
<br>

<div class="row">
  <div style="column-count: 2">
    <div class="col">
      <h1>Developers favourite
      </h1>
      <p>Ubuntu is the most popular Linux distribution for development and deployment. If your developers already use Ubuntu, moving to the cloud is even easier.
      </p>
    </div>
    <div class="col">

      <img src="https://assets.ubuntu.com/v1/2e62cdb4-desktop-developer-hero.png?w=540" />
    </div>
  </div>
</div>



<input placeholder="Ingrese texto" type="text" [value]="nombre"#nombreEtiqueta>

vista componente con ()
componente a la vista con doble {} o []

banana box model [()]

<div class="container">

  <input placeholder="Ingrese texto" type="text" [(ngModel)]="nombre">

  {{nombre}}

  <img [src]="nombre" alt="">

  <br>
  <br>
  <button class="btn btn-primary"(click)="cambiarNombre()">Cambiar Valor</button>
  <br>
  <br>
  <button class="btn btn-primary"(click)="cambiarOtroNombre()">Cambiar Otro Valor</button>


</div>
-->

<div class="container">

  <h1>Bienvenidos</h1>
  <h2>Usuarios Conectados</h2>

  <div class="row">
    <div class ="col-sm-4" *ngFor="let usuario of arregloUsuarios">

      <div class="card"style="width: 20rem">
        <div class="card-block">
          <h4 class="card-title">NOMBRE</h4>
          <p class="card.text">Nombre+Apellido.</p>
          <a href="#"class="btn btn-primary btn-block">Ir a Perfil</a>

        </div>
      </div>
    </div>
  </div>
</div>
